/* public/about.css */

body {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a3a3a3; /* Light grey background */
  color: #333; /* Dark text color for better readability */
}

header {
  background-color: #333; /* Dark header background */
  color: #fff;
  padding: 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px; /* Increase padding for better spacing */
  border: 2px solid #ccc; /* Add border to the section */
  border-radius: 5px; /* Add border radius for a rounded look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  background-color: #fff; /* Add a background color for contrast */
  margin-top: 90px;
}

.about-content {
  max-width: 600px; /* Increased maximum width for better readability */
  margin: 0 auto;
  margin-top: 25px; /* Adjust margin for better spacing */
  text-align: center; /* Justify text for a cleaner look */
}

footer {
  background-color: #333; /* Dark footer background */
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
